/* 
               ------
     --==    getaslot.com    ==--
		 -   	v1.0	    -
		   -        	 -
			  -       -
				 ---

/* RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
a {
	text-decoration: none;
}
ol, ul, dir, menu {
	list-style: none;
	list-style-type: none;
}
fieldset,img,abbr,acronym,input { 
	border:0;
	outline: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
:focus {
	outline: 0;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/****** GENERAL(gecko ff3 win) ******/

/* Typography */

.clear {	clear: both;}

/* basic structure */
#header {width: 960px;margin: 0 auto;border: 1px solid #ddd;min-height: 65px;}
#content {width: 960px;margin: 0 auto;}
#footer {width: 960px;margin: 0 auto;border: 1px solid #ddd;min-height: 50px;}


/* custom callendar css */
body {background: url(../images/design/bg.png) repeat;}
#calendar .wc-top {background: #e36245;height: 14px;border-bottom: 1px solid #ba5039;
-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;
-webkit-border-top-left-radius: 10px;-webkit-border-top-right-radius: 10px;
border-top-left-radius: 10px;border-top-right-radius: 10px;
}

#calendar .wc-bot {background: #e36245;height: 14px;border-top: 1px solid #ba5039;
-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;
-webkit-border-top-left-radius: 10px;-webkit-border-top-right-radius: 10px;
border-top-left-radius: 10px;border-top-right-radius: 10px;
}






