{% extends 'base.html' %}
{% block content %}

<div id="wrapper" class="container_12 about">
		<div id="header" class="container_12">
           <div id="logo" class="grid_6 " >
                            <a href="/" title="getaslot.com"><img src="{{ STATIC_URL }}images/logo.png"  /></a>
           </div>
           <div id="follow" class="grid_6 ">
                            <a href="http://www.twitter.com/getaslot" target="_blank"><img src="{{ STATIC_URL }}images/about/follow.png"  /></a>
           </div>
        </div>
       <div class="clear"></div> 
       
		<div id="content" class="container_12">
            <div id="main" class="grid_6">
                <img src="{{ STATIC_URL }}images/about/about.png" />
                <p class="story"> 
                	GetASlot is an online solution that allows individuals and companies to schedule appointments online. Clients can book appointments online by using any social platform like Facebook or Twitter and get reminders before an appointment begins. Users can implement appointment solution into their own website or use GetASlot website to promote their company with Google map, description and information about employees.
                </p>
            </div>
            <div id="sidebar" class="grid_6">
            	<img src="{{ STATIC_URL }}images/about/team.png" />
                <ul id="creators">
                	<li>
                    	<div class="thumb_79 left" >
                    		<img src="{{ STATIC_URL }}images/about/creators/edgars.png" />
                        </div>
                        <div class="descr" >
                            <a href="http://www.twitter.com/edgarsj" target="_blank"><span>Edgars</span></a>
                            <div class="story support"> Team-lead/ Back-end developer</div>
                        </div>
                    </li>
                    <div class="clear"></div>
                    <li>
                    	<div class="thumb_79 left" >
                    		<img src="{{ STATIC_URL }}images/about/creators/agris.png" />
                        </div>
                        <div class="descr" >
                            <a href="http://www.twitter.com/AgrisAmeriks" target="_blank"><span>Agris</span></a>
                            <div class="story support">Back-end developer</div>
                        </div>
                    </li>
                    <div class="clear"></div>
                    <li>
                    	<div class="thumb_79 left" >
                    		<img src="{{ STATIC_URL }}images/about/creators/andrejs.png" />
                        </div>
                        <div class="descr" >
                            <span>Andrejs</span>
                            <div class="story support">Front-end developer</div>
                        </div>
                    </li>
                    <div class="clear"></div>
                    <li>
                    	<div class="thumb_79 left" >
                    		<img src="{{ STATIC_URL }}images/about/creators/niklavs.png" />
                        </div>
                        <div class="descr" >
                            <span>Niklavs</span>
                            <div class="story support"> Front-end developer</div>
                        </div>
                    </li>
                    <div class="clear"></div>
                    <li>
                    	<div class="thumb_79 left" >
                    		<img src="{{ STATIC_URL }}images/about/creators/arvids.png" />
                        </div>
                        <div class="descr" >
                            <a href="http://www.arvidsbaranovs.com" target="_blank"><span>Arvids</span></a>
                            <div class="story support"> Designer</div>
                        </div>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        <div class="clear"></div> 
        <div id="footer">
            
        </div>
	</div> <!-- Wrapper -->  
	    <hr/>
	{% endblock %}