
import os, posixpath
PROJECT_ROOT = os.path.abspath(os.path.dirname(__file__))
MEDIA_ROOT = os.path.join(PROJECT_ROOT, "site_media", "media")

# URL that handles the media served from MEDIA_ROOT.
# Example: "http://media.lawrence.com"
MEDIA_URL = "/site_media/media/"

#STATIC_ROOT = os.path.join(PROJECT_ROOT, "site_media", "static")
#STATIC_URL = "/site_media/static/"

STATICFILES_DIRS = [
    os.path.join(PROJECT_ROOT, "media"),
]

ADMIN_MEDIA_PREFIX = posixpath.join(MEDIA_URL, "admin/")



TEMPLATE_DIRS = [
    os.path.join(PROJECT_ROOT, "templates"),
]
DEFAULT_FROM_EMAIL = 'no-reply@getaslot.com'
SERVER_EMAIL = 'web-no-reply@getaslot.com'
CONTACT_EMAIL = 'slots@getaslot.com'
EMAIL_SUBJECT_PREFIX = '[Getaslot]'
